{% extends 'base.html.twig' %}

{% block title %}La taverne de greegose
{% endblock %}

{% block body %}
	<h1>{{ website }}
		index</h1>
	<div class="container-fluid">
		<div class="head-home bg-primary w-100 d-flex justify-content-around flex-column">
			<div class="mt-3">
				<img src="{{ asset('build/images/devanture.png') }}" class="fs-4 fw-bold text-center d-block mx-auto" alt="La taverne de Grego">
			</div>
		</div>
		<div class="mt-3">
			<img src="{{ asset('build/images/devanture.png') }}" width="95" height="95" class="fs-4 fw-bold text-center d-block mx-auto" alt="La taverne de Grego">
		</div>
	</div>

{% endblock %}
