@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

$background: #2D2D2C;
$secondary: #B37E1C;
$primary: #261C0E;
$font-family: 'Irish Grover', cursive;
$font-color: #ffff;

@import "~bootstrap/scss/bootstrap";

* {
    font-family: $font-family;
}

body {
    background-color: $background;
}

h1, h2{
    color: $secondary;
}

