@import "_theme.scss";

.head-home {
    background-image: url('../images/test.png');
    background-size: cover;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    height: 580px;
}

.titleHome {
    position: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    left: 20px;
}

.profil {
     margin-right: 50px;
}

.card:hover{
    transform: scale(1.05);
    transition: 0.4s;
}

.beeBanner {
    background-image: url('../images/gregoo45_a_beer_with_the_drink_18433f6d-2eb4-4620-86b4-34e61ba49773.png');
    background-size: cover;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    height: 580px;

}


