@import "_theme.scss";

.block-registration {
    margin-top: 4rem;
}

.registration-form {
    margin-top: 4rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
}

.registration-input {
    border-radius: 15px;
}