@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

$background: #2D2D2C;
$font-title: #B37E1C;
$primary: #261C0E;
$font-family: 'Irish Grover', cursive;
$font-color: #ffff;

@import "~bootstrap/scss/bootstrap";

* {
    color: $font-color;
    font-family: $font-family;
}

body {
    background-color: $background;
}

h1 {
    color: $font-title;
}

.head-home {
    background-image: url('../images/devanture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}
