<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}La Taverne de grego
			{% endblock %}
		</title>
		<link
		rel="icon" hreftype="image/png" href="{{ asset('build/images/gregoo45_a_logo_for_my_we_site.png') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			{% block header %}
				{% include 'components/_navbar.html.twig' %}
			{% endblock %}
		</header>

		{% block body %}{% endblock %}
	</body>
	<footer>
		{% block footer %}
			{% include 'components/_footer.html.twig' %}
		{% endblock %}
	</footer</html>
</html>
