<footer class="bg-primary py-5 mt-5">
	<div class="container text-light text-center">
		<p class="display-5 mb-3 text-secondary">La Taverne</p>
		<small class="text-white-50">&copy; Copyright by Gregory. All rights reserved.</small>
		<div></footer>
